// 讓首頁 card style 融入背景
// .page >*:not(.footer),.card-box
//   box-shadow: none!important

// 使用 fontAwesome icon
.fab
  font-family: "Font Awesome 5 Brands" !important;

// 調整首頁作者訊息的側邊欄 fontAwesome icon style
.blogger-wrapper .icons .fab
  line-height: inherit;
