//***vdoing主題-樣式變量（你可以修改這些變量值以覆蓋主題使用的樣式變量）***//

// 以下註釋的變量僅供參考，主題使用的最新變量請查看：https://github.com/xugaoyi/vuepress-theme-vdoing/blob/master/theme-vdoing/styles/palette.styl

// // 顏色
// $bannerTextColor = #fff // 首頁banner區(博客標題)文本顏色
// $accentColor = #11A8CD // 主題色
// $activeColor = #ff5722
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // 佈局
// $navbarHeight = 3.6rem
// $sidebarWidth = 18rem
// $contentWidth = 860px
// $homePageWidth = 1100px
// $rightMenuWidth = 230px // 右側菜單

// // 代碼塊
// $lineNumbersWrapperWidth = 2.5rem

// // 淺色模式
// .theme-mode-light
//   --bodyBg: #f4f4f4
//   --mainBg: rgba(255,255,255,1)
//   --sidebarBg: rgba(255,255,255,.8)
//   --blurBg: rgba(255,255,255,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   // 代碼塊淺色主題
//   --codeBg: #f6f6f6
//   --codeColor: #525252
//   codeThemeLight()
//   // // 代碼塊深色主題
//   // --codeBg: #252526
//   // --codeColor: #fff
//   // codeThemeDark()

// // 深色模式
.theme-mode-dark
//   --bodyBg: rgb(39,39,43)
//   --mainBg: rgba(30,30,34,1)
//   --sidebarBg: rgba(30,30,34,.8)
//   --blurBg: rgba(30,30,34,.8)
   --textColor: #c9d1d9
//   --textLightenColor: #0085AD
//   --borderColor: #2C2C3A
//   --codeBg: #252526
//   --codeColor: #fff
//   codeThemeDark()

// // 閱讀模式
// .theme-mode-read
//   --bodyBg: rgb(240,240,208)
//   --mainBg: rgba(245,245,213,1)
//   --sidebarBg: rgba(245,245,213,.8)
//   --blurBg: rgba(245,245,213,.9)
//   --textColor: #004050
//   --textLightenColor: #0085AD
//   --borderColor: rgba(0,0,0,.15)
//   --codeBg: #282c34
//   --codeColor: #fff
//   codeThemeDark()
